<h3>Search History</h3> 
<%= link_to 'Back', root_path %>

<table>
  <thead>
    <tr>
      <th>Searched For </th>
     <th> Time </th>
 
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @histories.each do |history| %>
      <tr>
        <td><%= history.search_term %></td>
         <td><%= history.created_at %></td>
           
        
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Back', root_path %>

<br>

